<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Opciones Proveedor</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>

<h1>Opciones de proveedor</h1>

<ul>
    <li><a href="/proveedores/crear">Crear Proveedor</a></li>
    <li><a href="/proveedores/listar">Listar Proveedores</a></li>
    <li><a href="/proveedores/inactivos">Listar Inactivos</a></li>
    <li><a href="/proveedores/buscar">Buscar Proveedor</a></li>
    <li><a href="/proveedores/editar">Actualizar Proveedor</a></li>
    <li><a href="/proveedores/eliminar">Eliminar Proveedor</a></li>
</ul>

<a href="/">Volver al inicio</a>

</body>
</html>
