<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
</head>
<body>
    <h1>Opciones de Productos</h1>
    <ul>
        <li><a href="/productos/crear_form">Crear Producto</a></li>
        <li><a href="/productos/buscar_form">Buscar Producto</a></li>
        <li><a href="/productos/listar_todos">Listar Todos los Productos</a></li>
        <li><a href="/productos/actualizar_form">Actualizar Producto</a></li>
        <li><a href="/productos/inactivos_form">Productos Inactivos</a></li>
        <li><a href="/productos/eliminar_form">Eliminar producto</a></li>
    </ul>
    <a href="/">Volver al inicio</a>
</body>
</html>
