<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Opciones Usuarios</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
<h1>Menú de Usuarios</h1>

<ul>
    <li><a href="/usuarios/crear_form">Crear Usuario</a></li>
    <li><a href="/usuarios/listar_form">Listar Usuarios Activos</a></li>
    <li><a href="/usuarios/inactivos_form">Listar Usuarios Inactivos</a></li>
    <li><a href="/usuarios/buscar_form">Buscar Usuario por ID</a></li>
    <li><a href="/usuarios/actualizar_form">Actualizar Usuario</a></li>
    <li><a href="/usuarios/eliminar_form">Eliminar Usuario</a></li>
</ul>

<br>
<a href="/">Volver al Menú Principal</a>
</body>
</html>