{% extends "base.html" %}

{% block content %}
<h2 class="titulo">Actualizar Producto</h2>

<form action="/producto-actualizar" method="post" class="form-card">

    <label>ID del producto:</label>
    <input type="number" name="id" required>

    <label>Nuevo nombre:</label>
    <input type="text" name="nombre">

    <label>Nuevo precio:</label>
    <input type="number" step="0.01" name="precio">

    <label>Nueva ciudad:</label>
    <input type="text" name="ciudad">

    <label>Nueva fuente:</label>
    <input type="text" name="fuente">

    <button class="btn">Actualizar</button>
</form>

{% endblock %}
